ul.pb_videohive_widget_ul li{
	width: 80px !important;
	height: 80px;
	display: inline-block !important;
	margin: 0 2px 4px 0;
	padding: 0;
	vertical-align: top;
}

ul.pb_videohive_widget_ul li img{
	width: 80px;
	height: 80px;
	margin: 0;
	padding: 0;
}
.pb_read_more{
	text-align: center;
}
.pb_read_more{margin-top: 10px;}